<html>
<head>
    <title></title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script src="clue.js"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script> 
var ind=0;
var people=["Miss Scarlett","Professor Plum","Mrs. Peacock","Mr Green","Colonel Mustard","Mrs. White"];
		var weapons=["Candlestick","Knife","Lead Pipe","Revolver","Rope","Wrench"];
		var rooms=["Kitchen","Ballroom","Library","Lounge","Hall","Conservatory","Study","Dining"];
	$(document).ready(function() {
		
		var x=Math.floor((Math.random() * 6));
		var y=Math.floor((Math.random() * 6));
		var z=Math.floor((Math.random() * 8));
		console.log(x,y,z);		
		var winning={person:people[x],weapon:weapons[y],room:rooms[z]};
		console.log(winning.person);
		console.log(winning.weapon);
		console.log(winning.room);
console.log(people[1]);

$("#question0 #reset, #question1 #reset, #question2 #reset, #question3 #reset, #question4 #reset, #question5 #reset, #question6 #reset, #question7 #reset").click(function(){
$("#weap").prop("disabled", false);
$("#perp").prop("disabled", false);
});

$("#guessFinal").click(function() {
var temp1=$("#perp").val();
var temp2=$("#weap").val();
var temp3=$("#loc").val();
if(temp1==winning.person&&temp2==winning.weapon&&temp3==winning.room){
$("#winning").show();
}
else{
$("#losing").show();
}
});

$("#question0 #guess,#question1 #guess, #question2 #guess, #question3 #guess, #question4 #guess, #question5 #guess,#question6 #guess,#question7 #guess").click(function(){
var indexNum = $(this).parent().parent().attr('id');
var numb1="#perp"+indexNum;
var numb2="#weap"+indexNum;
var numb3="#loc"+indexNum;
indexNum="#"+indexNum+" h5";
console.log(numb1);
var test=Math.floor((Math.random() * 3)+1);
console.log("test");
var temp1=$(numb1).val();
var temp2=$(numb2).val();
var temp3=$(numb3).val();
console.log(temp1);
console.log(temp2);
console.log(temp3);
console.log(test);

if(test=='1')
{
	if(temp1==winning.person)
	{
		console.log("in 1");
		$(indexNum).replaceWith("...");
	}
	else{
console.log("in 1");
		$(indexNum).replaceWith(temp1);
	}
}
if(test=='2')
{
	if(temp2==winning.weapon)
	{
console.log("in 2");
		$(indexNum).replaceWith("...");
	}
	else{
console.log("in 2");
		$(indexNum).replaceWith(temp2);
	}
}
if(test=='3')
{
	if(temp3==winning.room)
	{
console.log("in 3");
		$(indexNum).replaceWith("...");
	}
	else{
console.log("in 3");
		$(indexNum).replaceWith(temp3);
	}
}
$(numb1).prop("disabled", true);
$(numb2).prop("disabled", true);
});

});

	</script>


</head>
<body ng-app="app" ng-controller="CommentController" >
        <div ng-repeat="x in lists">
            <button ng-click="hiddenDiv = !hiddenDiv" class="review">{{x}}</button>
		
            <div id="{{$index}}" ng-show="hiddenDiv">

	<p>Make a Deduction...</p>
	<form id="question{{$index}}">
	 <select id="perp{{$index}}" name="pers" value="p">	</select>
	<select id="weap{{$index}}" name="gun" value="p"> </select>
	<p> in the </p>
	<select id="loc{{$index}}" name="place" value="p" disabled> <option>{{x}}</option></select>.
	<input type="submit" id="guess")>
	</form>
	<button ng-click="hiddenDiv=!hiddenDiv" class="review" id="reset">Close</button>
	<h5 id="results{{$index}}">results </h5>
<script>
console.log(ind);
var temp="perp{{$index}}";
console.log(temp);
var sel = document.getElementById(temp);
for(var i = 0; i < people.length; i++) {
    var opt = document.createElement('option');
    opt.innerHTML = people[i];
    opt.value = people[i];
    sel.appendChild(opt);
}
var temp2="weap{{$index}}";
var sel = document.getElementById(temp2);
for(var i = 0; i < weapons.length; i++) {
    var opt = document.createElement('option');
    opt.innerHTML = weapons[i];
    opt.value = weapons[i];
    sel.appendChild(opt);
}
</script>
            </div>
        </div>
<div id="finalAnswer">
<p>I think that it was </p>
<form id="finalq">
	 <select id="perp" name="pers" value="p">
		<option value="Miss Scarlet">Miss Scarlett</option>
		<option value="Professor Plum">Professor Plum</option>
		<option value="Mrs. Peacock">Mrs. Peacock</option>
		<option value="Mr Green">Mr. Green</option>
		<option value="Colonel Mustard">Colonel Mustard</option>
		<option value="Mrs. White">Mrs. White</option>
	</select>
	<select id="weap" name="gun" value="p"> 
		<option value="Candlestick">Candlestick</option>
		<option value="Knife">Knife</option>
		<option value="Lead Pipe">Lead Pipe</option>
		<option value="Revolver">Revolver</option>
		<option value="Rope">Rope</option>
		<option value="Wrench">Wrench</option>
	</select>
	<p> in the </p>
	<select id="loc" name="place" value="p">
		<option value="Kitchen">Kitchen</option>
		<option value="Ballroom">Ballroom</option>
		<option value="Library">Library</option>
		<option value="Lounge">Lounge</option>
		<option value="Hall">Hall</option>
		<option value="Conservatory">Conservatory</option>
		<option value="Study">Study</option>
		<option value="Dining">Dining</option>
	</select>.
	<input type="submit" id="guessFinal")>
	</form>
<div id="winning" style="display:none;">
	<p>You won!</p>
</div>
<div id="losing" style="display:none;">
	<p>You lose!</p>
</div>
    </body>
</html>